.row {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.row input {
    margin: 0px;
}
.buttons {
    display: flex;
    gap: 0px;
}
.addbutton {
    margin-top: 0px;
}
#output {
    margin-top: 0px;
    padding: 10px;
    display: flex; /* Используем flexbox для отображения в ряд */
    flex-wrap: wrap; /* Чтобы элементы переходили на новую строку при переполнении */
}
.output-item {
    margin-right: 10px; /* Отступ между элементами */
}